body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    position: fixed;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    top: -50px;
    left: -50px;
    width: calc(100vw + 100px);
    height: calc(100vh + 100px);
    background: url(https://mrwallpaper.com/images/hd/caribbean-beach-landscape-yugvx6pdt2xbqgvt.jpg) center/cover no-repeat;
    filter: grayscale(50%);
    pointer-events: none;
    z-index: -1;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*     position: relative;*/
    z-index: 1;
}

label {
    display: block;
    margin-bottom: 5px;
}


input {
    width: 94.5%;
    padding: 8px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.swal2-title {
    font-size: 20px;
}

.swal2-text {
    font-size: 12px;
}

.infoClima {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffffffc4;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 100px;
    height: 100px;
  }
  
  .icon img {
    width: 100%;
    height: 100%;
  }
  
.listaReservas {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-height: 200px; 
    overflow-y: auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    z-index: 9999;
}